<app-navbar></app-navbar>

<div class="container">


    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="200" src="https://m.media-amazon.com/images/I/61TJsN3ipmL._UX679_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Round studded Dial Metallic Bracelet chain strap wrist watch for mens</p>
                            <h6 class="card-title">Rs.599/-</h6><br>
                            <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                      </div>


                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="200" src="https://m.media-amazon.com/images/I/61Ls2WUoePL._UL1500_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Round studded Dial Metallic Bracelet chain strap wrist watch for women</p>
                            <h6 class="card-title">Rs.597/-</h6><br>
                            <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                      </div>


                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="250" src="https://cdn.shopify.com/s/files/1/0416/3049/8971/products/ee-leo-01-womens-red-tote-bag_1.jpg?v=1635764722" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Handcrafted leather handbags</p>
                            <h6 class="card-title">Rs.999/-</h6><br>
                            <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                      </div>


                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="250" src="https://staticimg.titan.co.in/Fastrack/Catalog/SWD90059PP05_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">smart watch with pu band</p>
                            <h6 class="card-title">Rs.1999/-</h6><br>
                            <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                      </div>


                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="270px" src="https://i.gadgets360cdn.com/products/large/Fastrack-Reflex-VOX-DB-692x800-1643375974.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Fastrack reflex watches</p>
                            <h6 class="card-title">Rs.1899/-</h6><br>
                            <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                      </div>


                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="250" src="https://staticimg.titan.co.in/Fastrack/Catalog/38077AP03_2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Wrist watches for boys & girls</p>
                          <h6 class="card-title">Rs.799/-</h6><br>
                          
                          <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                      </div>

                      


                </div>
                <br>
                    

                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                    <div class="card">
                        <img height="180px" src="https://cdn.shopify.com/s/files/1/0416/3049/8971/products/ee-leo-01-womens-red-tote-bag_1.jpg?v=1635764722" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Handcrafted leather handbags</p>
                            <h6 class="card-title">Rs.999/-</h6><br>
                            <a href="#" class="btn btn-info">Buy Now</a>
                        </div>
                    </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                <div class="card">
                    <img height="200px" src="https://rukminim1.flixcart.com/image/832/832/kzllrbk0/sling-bag/n/v/e/latest-casual-chain-sling-bag-with-adjustable-sling-strap-for-original-imagbkt5gab8kvxz.jpeg?q=70" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">casual chain sling bag</p>
                        <h6 class="card-title">Rs.599/-</h6><br>
                        <a href="#" class="btn btn-info">Buy Now</a>
                    </div>
                </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

                <div class="card">
                    <img height="200" src="https://cdn.shopify.com/s/files/1/2270/8977/products/ajrakh-printed-fabric-handbag-wl1167-black-regular-handbags-665.jpg?v=1660369838" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">printed fabric bag</p>
                      <h6 class="card-title">Rs.1599/-</h6><br>
                      <a href="#" class="btn btn-info">Buy Now</a>
                    </div>
                </div>
        </div>

        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

            <div class="card">
                <img height="200" src="https://media.darveys.com/resized/460_520/_1_4_145-lot6136_5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Designer bag</p>
                    <h6 class="card-title">Rs.1999/-</h6><br>
                    <a href="#" class="btn btn-info">Buy Now</a>
                </div>
            </div>
    </div>

    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

        <div class="card">
            <img height="200" src="https://rukminim1.flixcart.com/image/332/398/kpydrbk0/sling-bag/r/e/d/maroon-women-sling-bag-w-m-maroon-flower-pack-of-2-sling-bag-original-imag42ykt5xmbbah.jpeg?q=50" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Sling bag</p>
                <h6 class="card-title">Rs.499/-</h6><br>
                <a href="#" class="btn btn-info">Buy Now</a>
            </div>
        </div>
</div>

<div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"><br>

    <div class="card">
        <img height="200" src="https://www.versace.com/dw/image/v2/ABAO_PRD/on/demandware.static/-/Sites-ver-master-catalog/default/dw61f2d3c3/original/90_1006622-1A04605_1K95V_23_VGrecaSignatureToteBag-ToteandTravelBags-versace-online-store_1_0.jpg?sw=450&sh=632&sm=fit&sfrm=jpg&cksizes=380w" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Versace bags for men</p>
            <h6 class="card-title">Rs.2999/-</h6><br>
            <a href="#" class="btn btn-info">Buy Now</a>
        </div>
    </div>
</div>

  </div>
  </div>
  </div>  
